/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos do cabeçalho */
header {
  background-color: #097752;
  color: #fff;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos da seção hero */
.hero {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 3rem;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Estilos da seção de recursos */
.features {
  padding: 3rem;
  text-align: center; /* Centraliza o texto na seção */
}

.feature {
  max-width: 800px; /* Limita a largura do texto */
  margin: 0 auto; /* Centraliza o texto */
}

/* Estilos do contêiner de feedback */
.feedback-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Estilos do campo de feedback */
.feedback {
  max-width: 300px;
  text-align: left;
  margin-right: 20px; /* Espaçamento entre o formulário e os comentários */
}

.feedback h3 {
  margin-bottom: 10px;
}

.feedback textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback button {
  background-color: #097752;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.feedback button:hover {
  background-color: #075e47;
}

/* Estilos dos exemplos de feedback */
.feedback-examples {
  flex: 1;
}

.feedback-examples h3 {
  margin-bottom: 10px;
}

.feedback-examples ul {
  list-style-type: none;
  padding: 5;
}

.feedback-examples li {
  background-color: #e9f5e9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Estilos do rodapé */
footer {
  background-color: #097752;
  color: #fff;
  text-align: center;
  padding: 5px 20px; /* Diminui o padding para um rodapé mais compacto */
}